[Unit]
Description=X Virtual Frame Buffer Service
After=network.target

[Service] 
ExecStart=/usr/bin/Xvfb :10 -screen 0 1024x768x24
ExecStartPost=/usr/bin/x11vnc --forever --display :10


[Install]
WantedBy=multi-user.target